.component-display {
  height: 600px;
  width: 600px
}

.admin {
  display: inline-block;
}

.buttons button {
  background-color: orange;
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: none;
}
