.featuredImageSlideshow {
text-align: center;

.slick-next {
    @media screen and(min-width: 768px) {
    right: -25px;
  }
}

.slick-prev {
    @media screen and(min-width: 768px) {
      left: -25px
  }
}

a {
  margin-bottom: 20px;
}

  h2 {
       color: #2F2F2F;
    margin: 0 auto;
    padding-bottom: 2px;
    display: inline-block;
    border-bottom: 2px #2F2F2F solid;
  }

  h6 {
margin: 12px 0;
    display: block;
    font-size: 16px;
    line-height: 1.7;
    text-transform: none;
  }

  .image {
    width: 200px;
  }
}


.wr_o {
  margin: 0 auto;
    max-width: 1300px;
    overflow: hidden;
    margin-bottom: 50px;

}



