.featuredImageSlideshow {
text-align: center;

.slick-next {
    @media screen and(min-width: 768px) {
    right: -25px;
  }
}

.slick-prev {
    @media screen and(min-width: 768px) {
      left: -25px
  }
}


  h2 {
   color: black;
   margin: 0;
  }

  h6 {
       margin: 9px 0 12px 0;
    display: inline-block;
    padding: 0 21px 3px 21px;
    text-transform: uppercase;
    border-bottom: 2px black solid;
    font-size: 14px;
  }

  .image {
    width: 200px;
  }
}


.wr_o {
  margin: 0 auto;
    max-width: 1300px;
    overflow: hidden;
}