h2 {
  color: white;
}

.imageOne {
  height: 600px;
  width: 200px;
}

.about {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
@media screen and (min-width: 1059px) {
padding: 0 0 55px 0;
text-align: center;

}
  
  .h_c {
    @media screen and (min-width: 1059px) {
      display: inline-block;
      vertical-align: middle;
      max-width: 420px;
      margin-right: 5%;
    }
  }
}


