.nav {
  background-color: #729EA1;
}

h2 {
  color: yellow;
}

.login {
  background-color: #B5BD89;
}

.loginLink {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.loginForm label, input {
  display: block;
}
