.articles {
  padding: 30px 30px;

  .paragraph {
    font-size: 20px;
  }
  .headline {
    font-weight: bold;
  }
  .date {
    font-weight: bold;
  }
  .arrows {
    padding: 30px 15px;
    color: white;
  }
  .rightArrow {
    float: right;
    font-size: 50px;
    padding: 30px 35px;
    background-color: #0038b8;
    border-radius: 100%;
  }
  .leftArrow {
    font-size: 50px;
    padding: 30px 35px;
    background-color: #0038b8;
    border-radius: 100%;
  }
}
