.nav {
height: 62px;
position: fixed;
top: 0;
left:0;
z-index: 1;
width:100%;
letter-spacing: .03em;
background: white;

  @media screen and (min-width: 768px) {
    text-align: center;
  }
  a {


    img {
      height: 56px;
      padding: 3px 0;
      margin-left: 14px;
      float:left;

      @media screen and (min-width: 768px) {
        position: absolute;
        left:0;
      }
    }


  }

  ul {
  white-space: nowrap;
  overflow-x: scroll;
    li {
      line-height: 62px;
      display:inline-block;
      width: 100px;
      text-align: center;

      .sh_m {
          

          &:hover {
            background: #efefef;
          }

          &:hover {
            
          }
      }

      a {
           font-size: 15px;
           display: inline-block;
           color: black;
           line-height: 1;
           cursor: pointer;
           border-radius: 25px;
           padding: 10px 15px;

           &.active {
              background: #efefef;
           }
      }



    }
  }

  .banner {
    background: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size:12px;
    font-weight: lighter;
    line-height: 18px;
  }

}

