


.nav {
  height: 62px;
  position: fixed;
  top: 0;
  left:0;
  z-index: 3;
  width:100%;
  letter-spacing: .03em;
  background: white;

  .hideMobile {
    display: none;
    @media screen and (min-width: 769px) {
      display: inline-block;
    }
  }

  @media screen and (min-width: 769px) {
    height: 83px;
  }

  @media screen and (min-width: 460px) {
    text-align: center;
  }
  a {


    img {

      height: 56px;
      padding: 3px 0;
      // margin-left: 14px;
      float:left;

  @media screen and (min-width: 769px) {
    height: 80px;
    margin-left: 14px;
  }

      @media screen and (min-width: 768px) {
        position: absolute;
        left:0;
      }
    }


  }

  ul {
  white-space: nowrap;
  overflow-x: scroll;
    li {
      line-height: 62px;
      display:inline-block;
      text-align: center;
      max-width: 100px;
      width: calc(65px + 10%);


      &:last-child {
        margin-right: 30px;
      }

  @media screen and (min-width: 769px) {
    line-height: 83px;
  }
      .sh_m {


          &:hover {
            background: #efefef;
          }

          &:hover {

          }
      }

      a {
           font-size: 15px;
           display: inline-block;
           color: #2F2F2F;
           line-height: 1;
           cursor: pointer;
           border-radius: 25px;
           padding: 10px 15px;

            @media screen and (min-width: 769px) {
              font-size: 17px;
            }
           &.act {
              background: #efefef;
           }
      }



    }
  }

  .banner {
    background: #2F2F2F;
    color: white;
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    @media screen and (min-width: 769px) {
    font-size: 17px;
    line-height: 30px;
    }
  }

}


.nav{
  &.sh {
    height: 62px;

    img {
        height: 56px;
    }

    li {
        line-height: 62px;

        a {
          font-size: 15px;
        }
    }

    .cartContainer {
      line-height: 62px;
    }

  }
}
