.nav {
  background-color: #9DD9D2;
}

h2 {
  color: white;
}

a {
  text-decoration: none;
  padding: 10px;
  color: brown;
}

.login {
  background-color: lightblue;
}

.loginForm label, input {
  display: block;
}
