.aa4 {
  .tileLinks {
    background-color: orange;
    color: yellow;
  }

  h2 {
    color: white;
  }

  .imageOne {
    height: 777px;
    width: 200px;
  }

  .tileImage {
    height: 200px;
    width: 200px;
  }
}
