.complexFeatureText {
  text-align: center;

  h2 {  
    margin: 0;
    text-align: center;
    padding: 25px 0 3px 0;
    color: black;
  }

  h6 {
    margin: 3px 0 9px 0;
    display: inline-block;
    padding: 0 21px 3px 21px;
    text-transform: uppercase;
    border-bottom: 2px black solid;
  }

  p {
    max-width: 350px;
    margin: 0 auto 35px;
    font-size: 12px;

    @media screen and (min-width: 500px) {
      max-width: 435px;

    }
  }

  .imageOne {
    width: 200px;
  }

}
