<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="app"></div>
    <div id="appw"></div>
    <script>var content = <%- JSON.stringify(content) %></script>
    <script src="http://localhost:8080/bundle.js"></script>
  </body>
</html>
