.socialFooter {
font-size: 15px;
text-align: center;
background: #2f2f2f;
position:absolute;
left:0;
width: 100%;
bottom:0;
padding: 20px 0;
color: white;

i {
  margin-right: 7px;
}

h2 {
  font-weight:300;
  margin:0 0 5px 0;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

div, a {
  font-weight: 300;
}

a {
  margin: 0 10px;
  color: white;
}


}
