.featuredTextCross{
text-align: center;
padding-top:20px;
margin: 0 auto 50px;
    h2 {
      color: #2F2F2F;  
      display: inline-block;
      position: relative;
      vertical-align: middle;

  @media screen and (min-width: 480px) {
       margin-right: 47.53px;
  }
    }

.wesCross {
  margin:0 0 7px 0;
  vertical-align: middle;
  display: block;


  .w {
    color:#2F2F2F;
  }

  .mi, .th {
    background: #2F2F2F;
  }

  @media screen and (min-width: 480px) {
      margin:0 12px 0 0;
      display: inline-block;
  }
}

.op_l {
  vertical-align: middle;
  width: 20px;
  height: 2px;
  background: #2F2F2F;
  display: inline-block;
  margin-left: 12px;
}

p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    padding-left: 3px;
}
}


.desk_feat {
  display: none;

  @media screen and (min-width: 1042px) {
    width: 60%;
    vertical-align: middle;
    display: inline-block;
}

.featuredTextCross {
  text-align: left;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  h2 {
    margin-right: 0;
  }

  p {
    font-size: 16px;
  }
}

}