.categorizedTiles {
text-align: center;

 h2 {
      color: black;
      text-align: left;
      margin: 0;
      line-height: 63px;
      padding: 0 15px;
      font-family: 'Source Sans Pro', sans-serif;
      @media screen and (min-width: 769px) {
        line-height: 83px;
      }
    }
  .tiles {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  position:relative;
  overflow: auto;
  p {
    display: inline-block;
    line-height: 1;
    background: white;
    cursor: pointer;
    border-bottom: 2px solid black;
    padding: 0 0 2px 0;
    text-align: center;
    margin: 25px auto;

    @media screen and (min-width: 769px) {
      font-size: 20px;
    }
  }
  .vendorImage {
  background-repeat: no-repeat;
    background-size: cover;
    height: 33vw;
    background-position: center;
    max-height: 400px;

  }

  &:hover .overlayDescription {
     -moz-transform: rotate3d(0, 0, 0 ,0);
      -webkit-transform: rotate3d(0, 0, 0, 0);
      -o-transform: rotate3d(0, 0, 0, 0);
      opacity: 1;
      pointer-events: all;
}


  }

}

.category {
   border-bottom: 1px solid #ebebeb;
}


.prodOverlayWrap {
  position: relative;


  .overlayDescription {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    bottom:0;
    background: #2F2F2F;

    div {

      top: 50%;
      position:absolute;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      width: 100%;
      p {
        color: white;
        border-color: white;
        background: transparent;
        text-decoration: none;
        font-size: 40px;
        padding: 0;
        border: none;
      }
    }




  @media screen and (min-width: 769px) {
     display: block;
    }

  }



}
