.categorizedTiles {
text-align: center;
 h2 {
      color: black;
      text-align: left;
      margin: 0;
      text-decoration: underline;
      line-height: 63px;
      padding: 0 15px;
      @media screen and (min-width: 769px) {
        line-height: 83px;
      }
    }
  .tiles {
  display: inline-block;
  width: 50%;
  position:relative;

  p {
    display: block;
    line-height: 1;
    background: white;
    cursor: pointer;
    padding: 25px 0;
    text-align: center;
    margin: 0;

    @media screen and (min-width: 769px) {
      font-size: 20px;
    }
  }
  div {
    padding-top: 75%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

   
  }

}

.category {
   border-bottom: 1px solid #ebebeb;
}