.productsDisplay {
  text-align: center;

   @media screen and (min-width: 769px) { 
    padding-top: 75px;
   }

  img {
    max-width: 200px;
    margin-bottom:17px;
    @media screen and (min-width: 769px) {
      max-width: 300px;
    }
  }
  h2 {
    color: #2F2F2F;
    position: relative;
    margin: 0 auto 30px;
  }


  h6 {
    font-weight: 500;
    margin-bottom: 7px;
    font-size: 12px;


  @media screen and (min-width: 769px) { 
    font-size: 15px;
  }
  }



.product {
  margin-bottom: 50px;
  width: 100%;

  @media screen and (min-width: 769px) {
    width: 375px;
    display: inline-block;
  }
}



.productPrice {
    position: relative;
    display: block;
    width: 180px;
    margin: 0 auto 16px;
    &:before, &:after {
      content: '';
      position: absolute;
      height: 2px;
      background: #2F2F2F;
      display: block;
      width: 50px;
      top: 50%;
    }

    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}


