.cr_b {
   background: white;
   position: relative;
   z-index:1;

   @media screen and (min-width: 768px) {
   }
}

.imageWithEffects {
  text-align:center;

   @media screen and (min-width: 1042px) {
  text-align: left;
}
.co {

    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    max-height: 500px;
    @media screen and (min-width: 769px) {
    width: 40%;
    vertical-align: middle;
    }
}

img {
  width: 100%;

  @media screen and (min-width: 769px) {
  position: relative;
  }
}

}
