body, html {
  background-color: #FFF;
  margin: 0;
  padding: 0 0 0 0;
  font-family: 'aleo';
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;

}

a {
  cursor:pointer;
}

.c {
  clear: both;
}


.black {
  color:#2F2F2F;
}

.cell {display: table-cell;}

.mid {vertical-align: middle;}


.missionsBlock {
  overflow:hidden;
  margin: 0 auto 40px;
  max-width: 1400px;

  @media screen and (min-width: 769px) {
  margin: 0 auto 50px;
  }

  .con {
    width: 100%;
    display: inline-block;

     @media screen and (min-width: 769px) {
     width: 50%;



    }
  }

  .ov { 

      @media screen and (min-width: 769px) {
     position: relative;
     top: -30px;
     left: -30px
    }
  }

  .contain {
    max-width: 500px;
    margin: 35px auto 40px;

    @media screen and (min-width: 769px) {
      margin: 30px auto 30px;

    }
  }
  .words {
  box-sizing: border-box;
  padding: 0 10px;
       @media screen and (min-width: 769px) {
        padding: 0 70px 0 40px;
    
    }
  }

  p {
  margin-bottom: 20px;
  line-height: 1.7;
  }



  h2 {
    margin-bottom: 12px;
    color:#2F2F2F;
  }
}

.l {
  font-weight: lighter;
}


.t_left {
  text-align: center;
  @media screen and (min-width: 769px) {
  text-align: left;
}
}

.t_right {
  text-align: center;
  @media screen and (min-width: 769px) {
  text-align: right;
}
}

.t_cent {
 text-align: center;


 
}

.fl_l {
float:none;
@media screen and (min-width: 769px) {
  float:left;
}

}

.fl_r {
float:none;
  @media screen and (min-width: 769px) {
  float:right;
}
}


p {

@media screen and (min-width: 769px) {
  font-size: 17px;
}
  
}

h5 {
  font-size: 12px;
}

h1 {
  font-size: 36px;
}


a, h2, h4, h5, h6, p, h1{
  text-decoration: none;
  color: #2F2F2F;
  margin: 0;
  letter-spacing: .03em;
}

.wwf {
  position: relative;
  overflow: hidden;
  padding-top: 82px;
  @media screen and (min-width: 769px) {
    padding-top: 112px;
  }
  
}

.slick-arrow:before {
  color: #2F2F2F;
}

.slick-arrow {
  z-index: 777;
}

.slick-prev {
  left: 7px;
}

.slick-next {
  right: 7px;
}


@media screen and (max-width: 769px) {
.hide-below-769 {
    display:none !important;

}  
}



.o_lay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.25);
}

h2 {
font-weight: normal;
font-size: 22px;

@media screen and (min-width: 768px) {
  font-size: 30px;
}
}

h6 {
    font-weight: 300;
    text-transform: uppercase;
}

.t_b {
  transition: all .3s ease;
}



.wesCross {
  display: inline-block;
  margin-bottom: 5px;


.w {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    margin-right: 1px;
    line-height: 20px;
    font-size: 11px;
    font-weight: bold;
}

  .mi {
    width: 2px;
    left: 9px;
    border-radius: 25px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    height: 24px;
    background: white;
  }

  .th {
    width: 20px;
    height: 2px;
    border-radius: 0 25px 25px 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: white;
  }
}


   .button {
          width: 132px;
      font-size: 14px;
      display: inline-block;
      padding: 11px 0;
      text-transform: uppercase;
      letter-spacing: .04em;
      font-weight: 400;
      text-align: center;
      font-family: 'Source Sans Pro', sans-serif;


      &.black {
      border: 2px solid #2F2F2F;
      color: #2F2F2F;
        &:hover {
          background:#2F2F2F;
          color: white;
        }
      }

      &.black.solid {
      border: 2px solid #2F2F2F;
      color: white;
      background: #2F2F2F;
        &:hover {
         color: #2F2F2F;
         background: transparent;
        }
      }
   } 



.slick-next::before {
  content: '>' !important;
}



.slick-prev::before, .slick-next::before {
  -webkit-transform: scaleY(1.8);
  -moz-transform: scaleY(1.8);
  -o-transform: scaleY(1.8);
  transform: scaleY(1.8);
    font-weight: bold;
    display: block;



}




.slick-prev::before {
  content: '<' !important;
}


.hov {
      opacity: 0;
          transform: rotate3d(0, -20, -1, -35deg);
      -webkit-transform: rotate3d(0, -20, -1, -35deg);
      -moz-transform: rotate3d(0, -20, -1, -35deg);
      -o-transform: rotate3d(0, -20, -1, -35deg);
}