@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import './stylesheet.css';

body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Aleo', 'Source Sans Pro', sans-serif;;
}
