.portfolio {
  background-color: #F9F6F2;
  p {
    font-size: 18px;
  }
  .projects {
    padding: 42px 0 68px 18px;
  }
  .icon {
    font-size: 26px;
  }
  .project {
    margin: 0 106px 0 0;
  }
  .title {
    color: #00A676;
  }
  .socialCircle {
    display: inline-block;
    padding: 6px 9px;
    background: black;
    border-radius: 100%;
    color: white;
    font-size: 20px;
    margin: 4px;
  }
  .projectImg {
    background: #EF798A;
  }
  .links {

  }
  .link {
    text-decoration: none;
  }
  .screenshots img {
    padding: 20px
  }
  .tl1 {
    height: 400px;
    width: 280px;
  }
  .tl2 {
    height: 400px;
    width: 280px;
  }
  .tl3 {

  }
  .nf1 {
    height: 300px;
    width: 550px;
  }
  .nf2 {
    height: 350px;
    width: 450px;
  }
  .wwf1 {
    height: 300px;
    width: 256px;
  }
  .wwf2 {
    height: 300px;
  }
  .screenshots {
    border-bottom: 2px black solid;
    padding-bottom: 22px;
  }
  @media (min-width: 768px) {
    .projects {
      padding: 42px 30% 68px 100px;
    }
  }
  @media (max-width: 480px) {
    .tl1 {
      height: 333px;
      width: 229px;
    }
    .tl2 {
      height: 300px;
      width: 250px;
    }
    .tl3 {
      height: 300px;
    }
    .nf1 {
      height: 244px;
      width: 254px;
    }
    .nf2 {
      height: 198px;
      width: 250px;
    }
    .wwf1 {

    }
    .wwf2 {

    }
  }
}
