.nav {
  background-color: red;
}

h2 {
  color: yellow;
}

.imageCattle {
  height: 200px;
  width: 200px;
}

.form-error {
  color: red;
  font-size: 12px;
}

.inactive {
  display: none;
}

.active {
  display: inline-block;
}
