.productsView {
  text-align: center;

  img {
    max-width: 200px;
    margin-bottom:17px;
    @media screen and (min-width: 769px) {
      max-width: 300px;
    }
  }
  h2 {
    color: black;
    margin-bottom: 30px;
  }

  h6 {
    font-weight: 500;
    margin-bottom: 17px;
    font-size: 15px;
  }
  h4 {
    padding: 20px 0;
  }

  .description {
    padding: 40px 0;
  }
}
.productsView {
  padding: 40px 0;
}
.product {
  margin-bottom: 50px;

  &:last-child {
    padding-bottom: 30px;
    margin-bottom:0;
  }
}
