.productsView {
  text-align: center;

  img {
    max-width: 200px;
    margin-bottom:17px;
    @media screen and (min-width: 769px) {
      max-width: 300px;
    }
  }
  h2 {
    color: black;
    margin-bottom: 30px;
  }

  h6 {
    font-weight: 500;
    margin-bottom: 17px;
    font-size: 15px;
  }

  button {
        background: black;
        border: none;
        color: white;
        font-family: aleo;
        padding: 13px 0;
        font-size: 15px;
        width: 140px;
        letter-spacing: .03em;
        text-transform: uppercase;
  }
}

.product {
  margin-bottom: 50px;

  &:last-child {
    padding-bottom: 30px;
    margin-bottom:0;
  }
}
