.productsView {
  text-align: center;
  @media screen and (max-width: 769px) {
    padding-top: 15px;
  }
  @media screen and (min-width: 769px) {
    padding-top: 25px;
  }
  img {
    max-width: 300px;
    margin-bottom: 15px;
    @media screen and (min-width: 769px) {

      display: inline-block;
      margin-right: 5%;
      vertical-align: middle;

    }
  }

  .variantSelect {
    border: 2px solid #2f2f2f;
    color: #2f2f2f;
    -webkit-appearance: none;
    width: 198px;
    text-transform: uppercase;
    height: 40px;
    font-size: 12px;
    padding-left: 15px;
    display: inline-block;
    letter-spacing: .04em;
    padding-right: 35px;
    background: url(https://image.freepik.com/free-icon/caret-arrowhead-facing-down_318-34455.jpg) 93%/ 13px no-repeat;
    font-weight: 600;
    font-family: Source Sans Pro,sans-serif;
    border-radius: 0;
    margin: 0 0 16px;
  }
  .variantOption {
    text-align: center;
  }

  h2 {
    color: black;
    position: relative;
  }

  h6 {
    font-weight: 500;
    font-size: 15px;
  }
  h4 {
    padding: 5px 0 10px;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

  .description {
    text-align: left;
    margin-bottom: 20px;

    div {
      text-align: left !important;
    }
    li {
      margin-bottom: 10px;
      &:before {
        content: '';
        height: 2px;
        width: 7px;
        margin-right: 7px;
        background: black;
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }
        
    }
    p {
      margin: 10px 0;
      display: none;
    }
  }
  button {
    width: 300px;

  }


}




.productsView {
  margin-bottom: 200px;
a {

  &:last-child .product {
  margin-bottom:0;
  }
}

}

.productDetails {
  max-width: 300px;
  text-align: left;
  display: inline-block;
  @media screen and (min-width: 769px) {
    max-width: 360px;
    vertical-align: middle;

  }
}
