body {
.slick-list {
@media screen and (min-width: 500px) {
  overflow: visible;
}
}

}

.swipeSlideshow {
background-position: 100% center;

  .swipeContent {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 4;
    .wesCross {
    margin-bottom: 12px;

    @media screen and (min-width: 769px) {
      margin-bottom: 16px;
    }
    }

    @media screen and (min-width: 769px) {
        top: 30%;
    }
    @media screen and (max-width: 769px) {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
    .cta {
      color: white;
      font-size: 14px;
      display: inline-block;
      padding: 11px 0;
      width: 100px;
      letter-spacing: .04em;
      font-weight: 400;
      font-family: 'Source Sans Pro', sans-serif;
      text-align:center;
      border: 2px solid white;

      &:hover {
        color: #2F2F2F;
        background: white;
      }

@media screen and (min-width: 500px) {
      padding: 11px 0;
    width: 132px;
    }
    }


    p {
    display: none;
    margin: 10px 0 22px 0;
    font-weight: 400;
    color: white;

    @media screen and (min-width: 769px) {
    display: block;
    }
    }
  }

  h2 {
    color: white;
    font-size: 30px;
    margin: 0 0 12px 0;
    line-height: 1.2;

    @media screen and (min-width: 769px) {
          margin: 0 30px;
    }

    @media screen and (min-width: 768px) {
      font-size: 42px;
    }
  }

}




.swipeSlideshowContainer{

@media screen and (min-width: 500px) {
max-width: 1000px;
margin: 0 auto;
}

}


.slick-initialized .slick-slide {
  background-size: cover;
  
}

.slick-slide {
transform: scale(.5) translateX(40%);
transition: all .3s ease;
opacity: .5;
}

.slick-slide.slick-active + .slick-slide{
transform: scale(.5) translateX(-40%);
opacity: .5;
}

.slick-slide.slick-active.swipeSlideshow + .slick-slide{
  transform: scale(1);
   -webkit-filter: blur(5px);
  filter: blur(5px);
}

.slick-slide.swipeSlideshow.slick-active {
    -webkit-filter: blur(0px);
  filter: blur(0px);
}

.slick-slide.swipeSlideshow {
  transform: scale(1);
   -webkit-filter: blur(5px);
  filter: blur(5px);
}

.slick-slide.swipeSlideshow:after {
  padding-top: 300px;
    @media screen and (min-width: 500px) {
      padding-top: 75%;
    }
}

.slick-slide:after {
  content: '';
  display: inline-block;
  padding-top: 75%;
}

.slick-slide.slick-active {
transform: scale(1);
opacity: 1;
}


body .slick-dots li button:before {
    border: 1px solid #2F2F2F;
    width: 5px;
    background: transparent;
    height: 5px;
    font-size: 0px;
    border-radius: 50%;
}

body .slick-dots li button {
    width: 5px;
    height: 5px;
}

body .slick-dots li {
      width: 10px;
    height: 10px;
}

 body .slick-dots li.slick-active button:before {
    opacity: 1;
    background: #2F2F2F;
}

body .slick-dots {

  bottom: 20px;
}

body .featuredImageSlideshow {@media screen and (min-width: 500px) {
max-width: 600px;
margin: 0 auto;
}}
